<!DOCTYPE html>
<html>
<head>
    <title>SchoolSync</title>
</head>
<body>

    <h1>Add Student</h1>

    <form method="post" action="/students">

        <label>Student ID</label>
        <input type="number" name="student_id">
        <br><br>

        <label>First Name</label>
        <input type="text" name="first_name">
        <br><br>

        <label>Last Name</label>
        <input type="text" name="last_name">
        <br><br>

        <label>Date of Birth</label>
        <input type="date" name="date_of_birth">
        <br><br>

        <label>Class Name</label>
        <input type="text" name="class_name">
        <br><br>

        <button type="submit">
            Save Student
        </button>

    </form>

</body>
</html>