<!DOCTYPE html>
<html>
<head>
    <title>Students</title>
</head>
<body>

    <h1>Students</h1>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Class</th>
        </tr>

        {% for student in students %}
        <tr>
            <td>{{ student.student_id }}</td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.date_of_birth }}</td>
            <td>{{ student.class_name }}</td>
        </tr>
        {% endfor %}

    </table>

    <br>

    <a href="/">Add Another Student</a>

</body>
</html>